<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="#" class="pure-menu-heading">Site Title</a>

  <ul>
    <li class="pure-menu-selected"><a href="#">Home</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Why Shiftable?</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</div>
<p> Welcome <%= session[:employee_number] %></p>
<p>
<form action="/logout" method="post">
  <input type="submit" value="logout"/>
</form>
</p>


