.splash-container{
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash{
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 10em; left: 0; bottom: 0; right: 0;
    text-align: center;
}

#password, #employee_number{
    display: inline;
}

.pure-menu a{
    color: #BCD7F6;
}

#scheduler_here{

}

.schedule_style{
    background-color: red;
}

video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(Miniature-Vancouver.jpg) no-repeat;
    background-size: cover;
}

.splash-head-text{
    margin-top: -2em;
}

#shiftlogo{
    top:1.75em;
    position: relative;
    margin: 0 auto;
}

.pure-g{
    display: inline-block;
}

.pure-form{
    display: inline-block;
    position: relative;
    margin-top: -4.5em;
}

.pure-checkbox{
    display: block;
}

.login-form{

}

.login-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 80%;
}

.starbucks-menu.pure-menu-open {
    background: #006341;
}

.employee-style{
    background-color: #F7F7F7;
}

#scheduler_here{
    background-color: #EEE8DA;
}

.dhx_cal_data{
    background-color: #EEE8DA;s
}

.login{
    border:none;
    font-size: 40%;
    line-height: 0em;
    display: inline-block;
    margin-top: 7em;
}

