<div class="header">
  <div class="starbucks-menu pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Site Title</a>

    <ul>
      <li class="pure-menu-selected"><a href="#">Profile</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Why Shiftable?</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>
<div class="employee-style">

  <div id="scheduler_here" class="dhx_cal_container" style='width:1024px; height:768px; padding:10px;'>
    <div class="dhx_cal_navline">
      <div class="dhx_cal_prev_button">&nbsp;</div>
      <div class="dhx_cal_next_button">&nbsp;</div>
      <div class="dhx_cal_today_button"></div>
      <div class="dhx_cal_date"></div>
      <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
      <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
      <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
    </div>
      <div class="dhx_cal_header"></div>
      <div class="dhx_cal_data"></div>
  </div>

  <script type="text/javascript" charset="utf-8">
    scheduler.config.xml_date="%Y-%m-%d %H:%i:%s";
    scheduler.config.readonly = true;
    scheduler.config.first_hour = 5;
    scheduler.config.last_hour = 22;
    scheduler.attachEvent("onTemplatesReady", function(){
      scheduler.templates.event_text=function(start,end,event){
        return "<b>" + event.text + "</b><br><i>" + "Store: " + event.event_text + "</i>";
      }
    }); 
    scheduler.init('scheduler_here', new Date(), "week");
    scheduler.parse("<%= @shift_cal %>", "json");//takes the name and format of the data source
  </script>
</div>
