<form class="pure-form pure-form-stacked" action="/login" method="POST">
    <fieldset>
        <input id="employee_number" type="employee_number" placeholder="Employee number">

        <input id="password" type="password" placeholder="Password">

        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>

