<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href=""><img src="photos/shiftlogowhite.png" style='width:40%;' border="0" alt="Null"></a>

        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Why Shiftable?</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>

<video autoplay loop poster="Miniature-Vancouver.jpg" id="bgvid">
    <source src="video/Miniature-Vancouver2.webm" type="video/mp4">
</video>

<% if @login_error %>
  <div>
    <strong>Wrong username or password</strong>
  </div>
<% end %>

<div class="splash-container">
    <div class="login-splash">
        <div class="splash-head">
            <form class="login-form pure-form-stacked" action="/login" method="POST">
                <fieldset class="login">
                    <input name="employee_number" type="text" placeholder="Employee number" value="<%= @employee.employee_number %>">
                    <input name="password" type="password" value="<%= @employee.password %>" placeholder="Password">
                    <label for="remember" class="pure-checkbox">
                        <input id="remember" type="checkbox"> Remember me
                    </label>

                    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>


