<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">SHIFTABLE</a>

    <ul>
        <li class="pure-menu-selected"><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Why Shiftable?</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>

<div class="splash-container">
<div class="splash">
<form class="pure-form pure-form-stacked" action="/login" method="POST">
    <fieldset>
        <input id="employee_number" type="text" placeholder="Employee number">

        <input id="password" type="password" placeholder="Password">

        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
</div>
</div>


