<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">SHIFTABLE</a>

    <ul>
        <li class="pure-menu-selected"><a href="#">Home</a></li>
    </ul>
</div>

<% if @login_error %>
  <div>
    <strong>Wrong username or password</strong>
  </div>
<% end %>

<div class="splash-container">
<div class="splash">
<form class="pure-form pure-form-stacked" action="/login" method="POST">
    <fieldset>
      <input name="employee_number" type="text" placeholder="Employee number" value="<%= @employee.employee_number %>">
        <input name="password" type="password" value="<%= @employee.password %>" placeholder="Password">
        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
</div>
</div>


