<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="" id="whiteshiftlogo">
            <img src="photos/shiftlogowhite.png" style='width:40%;' border="0" alt="Null">
        </a>

        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Why Shiftable?</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <div class="splash-head">
            <p>
                <a href="/login" id="shiftlogo">
                    <img src="photos/shiftlogo.png" style='width:30%;' border="0" alt="Null">
                </a>
            </p>
            <h1 class="splash-head-text">SHIFTABLE</h1>
        </div>
        <video autoplay loop poster="Miniature-Vancouver.jpg" id="bgvid">
            <source src="video/Miniature-Vancouver.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">ABOUT US</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1-3 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Who We Are
                </h3>
                <p>
                    Bradley Sharpe and Linda Hayashida
                </p>
            </div>
            <div class="l-box pure-u-1-3 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    What we do
                </h3>
                <p>
                    blahblahblah
                </p>
            </div>
            <div class="l-box pure-u-1-3 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    grapple
                </h3>
                <p>
                    grapplegrapplegrapple
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img src="photos/shiftlogowhite.png" style='width:20%;' border="0" alt="Null">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
            <h2 class="content-head content-head-ribbon">Why Shiftable?</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Contact Us</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Business Name</label>
                        <input id="business" type="text" placeholder="Your Business Name">

                        <label for="password">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <button type="submit" class="pure-button">Contact</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        Bridging the gap between employees.
    </div>

</div>

